---
import MainLayout from "../layouts/MainLayout.astro";
import catMascot from "../images/catmascot.png";
import artistCat from "../images/artistcat.png";
import tennisCat from "../images/tenniscat.png";
import glassesCat from "../images/glassescat.png";
import pandaCat from "../images/pandacat.png";
import sailorMoonCat from "../images/sailormooncat.png";
import { Image } from 'astro:assets';
// import { gsap } from "gsap";
---

<MainLayout title="Home | Julie Zhou">
    <section class="container welcome-text">
        <div>
            <h1 class="title">Welcome!</h1>
            <p>I'm Julie and this is my personal blog site!</p>
            <p>This page is still under construction :( But enjoy these cats and other pages on the site in the meantime.</p>
            <div class="cat-box"> 
                <Image src={catMascot} alt="an orange cat" width="300"/>
                <Image src={artistCat} alt="a cat with paint on its face and wearing a beret" width="350"/>
                <Image src={tennisCat} alt="a cat with a visor on with letters ASM" width="300"/>
                <Image src={glassesCat} alt="a cat with blue-tinted glasses" width="300"/>
                <Image src={pandaCat} alt="a cat with a panda hat" width="300"/>
                <Image src={sailorMoonCat} alt="a cat with red bows and a forehead piece, much similar to Sailor Moon" width="400"/>
                <!-- <img class="cat-mascot" src="/images/catmascot.png" width="300"/>
                <img class="artist-cat" src="/images/artistcat.png" width="350"/>
                <img class="tennis-cat" src="images/tenniscat.png" width="300"/>
                <img class="glasses-cat" src="/images/glassescat.png" width="300"/>
                <img class="panda-cat" src="/images/pandacat.png" width="300"/>
                <img class="sailormoon-cat" src="/images/sailormooncat.png" width="400"/> -->
            </div>
        </div>
    </section>
    <!-- <section class="container about-site">
        <p>Hi, I'm Julie!</p>
    </section>
    <section class="container latest">
        <p>Check out my latest projects and posts!</p>
    </section> -->
</MainLayout>
<style>
    .title {
        width: 100%;
    }
    .welcome-text {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }
    /* section {
        min-height: 100vw;
    } */
    img {
        aspect-ratio: auto;
    }
    .cat-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
</style>
