---
import { formatDate } from "../js/utils";
const { post } = Astro.props;

// add a var for size of image
const previewImage = post._embedded["wp:featuredmedia"][0];
---

<div class="preview-container">
  <img
    class="preview-image"
    src={previewImage.media_details.sizes.medium.source_url}
    width={previewImage.media_details.sizes.medium.width}
    alt={previewImage.alt_text}
    sizes={previewImage.media_details.sizes}
  />
  <div class="preview-content">
    <h2 class="preview-title" set:html={post.title.rendered} />
    <p set:html={formatDate(post.date)} />
    <Fragment set:html={post.excerpt.rendered} />
    <a href={"/blog/" + `${post.slug}`}>Read more</a>
  </div>
</div>

<style>
  .preview-container {
    display: flex;
    flex-wrap: wrap;
  }
  .preview-image {
    object-fit: cover;
  }
  @media screen and (min-width: 640px) {
    .preview-title {
      margin-top: 0;
    }
    .preview-container {
      flex-wrap: nowrap;
    }
    .preview-content {
      padding-left: 0.7rem;
    }
  }
</style>
